docs/n8n-veo3-workflow.json
{
  "name": "VEO3 Video Generator - Complete",
  "nodes": [
    {
      "parameters": {
        "path": "veo3/generate",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 300],
      "webhookId": "veo3-generate"
    },
    {
      "parameters": {
        "jsCode": "// Normalizar inputs do webhook\nconst body = $json.body || $json || {};\nconst query = $json.query || {};\n\n// Suporta tanto body quanto query params\nconst data = {\n  prompt: body.prompt || query.prompt,\n  model: body.model || query.model || 'veo3',\n  aspect_ratio: body.aspect_ratio || query.aspect_ratio || '16:9',\n  duration: parseInt(body.duration || query.duration || '8'),\n  job_id: body.job_id || query.job_id,\n  callback_url: body.callback_url || query.callback_url,\n  // Credenciais (recebidas do SaaS ou fallback para variáveis de ambiente)\n  google_email: body.google_email || $env.GOOGLE_EMAIL,\n  google_password: body.google_password || $env.GOOGLE_PASSWORD,\n  browserless_token: body.browserless_token || $env.BROWSERLESS_TOKEN\n};\n\n// Validar campos obrigatórios\nconst missing = [];\nif (!data.prompt) missing.push('prompt');\nif (!data.job_id) missing.push('job_id');\nif (!data.callback_url) missing.push('callback_url');\nif (!data.google_email) missing.push('google_email (configure no Admin ou n8n)');\nif (!data.google_password) missing.push('google_password (configure no Admin ou n8n)');\nif (!data.browserless_token) missing.push('browserless_token (configure no Admin ou n8n)');\n\nreturn [{ \n  json: { \n    ...data, \n    missing, \n    isValid: missing.length === 0,\n    timestamp: new Date().toISOString()\n  } \n}];"
      },
      "id": "normalize-inputs",
      "name": "Normalize Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isValid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-320, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Missing required parameters', missing: $json.missing } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-400",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-80, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, job_id: $json.job_id, status: 'processing', message: 'Video generation started' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-200",
      "name": "Respond 200 - Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-80, 120]
    },
    {
      "parameters": {
        "jsCode": "// Preparar dados para Browserless\nconst item = $json;\n\n// Credenciais recebidas do SaaS (ou fallback para env)\nconst googleEmail = item.google_email;\nconst googlePassword = item.google_password;\nconst browserlessToken = item.browserless_token;\n\nif (!googleEmail || !googlePassword) {\n  throw new Error('Credenciais Google não configuradas. Configure no Admin Panel ou nas variáveis de ambiente do n8n.');\n}\n\nif (!browserlessToken) {\n  throw new Error('Token Browserless não configurado. Configure no Admin Panel ou nas variáveis de ambiente do n8n.');\n}\n\n// Script Playwright para automação do Veo3\nconst playwrightScript = `\nconst { chromium } = require('playwright');\n\nmodule.exports = async ({ page, context }) => {\n  const GOOGLE_EMAIL = '${googleEmail}';\n  const GOOGLE_PASSWORD = '${googlePassword}';\n  const PROMPT = ${JSON.stringify(item.prompt)};\n  const DURATION = ${item.duration};\n  const ASPECT_RATIO = '${item.aspect_ratio}';\n  \n  try {\n    // 1. Navegar para Veo3\n    console.log('Navegando para Veo3...');\n    await page.goto('https://labs.google/fx/tools/video-fx', { waitUntil: 'networkidle', timeout: 60000 });\n    \n    // 2. Verificar se precisa login\n    const needsLogin = await page.$('input[type=\"email\"]') !== null || \n                       await page.url().includes('accounts.google.com');\n    \n    if (needsLogin) {\n      console.log('Fazendo login no Google...');\n      \n      // Preencher email\n      await page.fill('input[type=\"email\"]', GOOGLE_EMAIL);\n      await page.click('#identifierNext');\n      await page.waitForTimeout(2000);\n      \n      // Preencher senha\n      await page.waitForSelector('input[type=\"password\"]', { timeout: 10000 });\n      await page.fill('input[type=\"password\"]', GOOGLE_PASSWORD);\n      await page.click('#passwordNext');\n      await page.waitForTimeout(3000);\n      \n      // Aguardar redirecionamento\n      await page.waitForURL('**/video-fx**', { timeout: 30000 });\n    }\n    \n    console.log('Logado com sucesso!');\n    \n    // 3. Aguardar interface carregar\n    await page.waitForTimeout(3000);\n    \n    // 4. Encontrar campo de prompt\n    const promptSelector = 'textarea[placeholder*=\"Describe\"], textarea[aria-label*=\"prompt\"], textarea';\n    await page.waitForSelector(promptSelector, { timeout: 30000 });\n    \n    // 5. Preencher prompt\n    console.log('Preenchendo prompt:', PROMPT.substring(0, 50) + '...');\n    await page.fill(promptSelector, PROMPT);\n    await page.waitForTimeout(1000);\n    \n    // 6. Configurar aspect ratio se disponível\n    const aspectButtons = await page.$$('button[aria-label*=\"aspect\"], [data-aspect-ratio]');\n    for (const btn of aspectButtons) {\n      const text = await btn.textContent();\n      if (text && text.includes(ASPECT_RATIO.replace(':', ':'))) {\n        await btn.click();\n        await page.waitForTimeout(500);\n        break;\n      }\n    }\n    \n    // 7. Clicar em gerar\n    console.log('Iniciando geração...');\n    const generateBtn = await page.$('button:has-text(\"Generate\"), button:has-text(\"Create\"), button[aria-label*=\"generate\"]');\n    if (generateBtn) {\n      await generateBtn.click();\n    } else {\n      // Tentar Enter\n      await page.keyboard.press('Enter');\n    }\n    \n    // 8. Aguardar geração (polling)\n    console.log('Aguardando geração do vídeo...');\n    let videoUrl = null;\n    const maxWait = 300000; // 5 minutos\n    const startTime = Date.now();\n    \n    while (!videoUrl && (Date.now() - startTime) < maxWait) {\n      await page.waitForTimeout(5000);\n      \n      // Verificar se há erro\n      const errorEl = await page.$('.error-message, [role=\"alert\"]');\n      if (errorEl) {\n        const errorText = await errorEl.textContent();\n        if (errorText && errorText.toLowerCase().includes('error')) {\n          throw new Error('Erro na geração: ' + errorText);\n        }\n      }\n      \n      // Procurar por vídeo gerado\n      const videos = await page.$$('video source, video[src]');\n      for (const video of videos) {\n        const src = await video.getAttribute('src');\n        if (src && (src.includes('.mp4') || src.includes('video'))) {\n          videoUrl = src;\n          break;\n        }\n      }\n      \n      // Procurar por link de download\n      if (!videoUrl) {\n        const downloadLinks = await page.$$('a[download], a[href*=\".mp4\"], button:has-text(\"Download\")');\n        for (const link of downloadLinks) {\n          const href = await link.getAttribute('href');\n          if (href && href.includes('.mp4')) {\n            videoUrl = href;\n            break;\n          }\n        }\n      }\n      \n      console.log('Aguardando... ' + Math.round((Date.now() - startTime) / 1000) + 's');\n    }\n    \n    if (!videoUrl) {\n      throw new Error('Timeout: Vídeo não foi gerado em 5 minutos');\n    }\n    \n    console.log('Vídeo gerado:', videoUrl);\n    \n    return {\n      success: true,\n      video_url: videoUrl,\n      duration: DURATION,\n      aspect_ratio: ASPECT_RATIO\n    };\n    \n  } catch (error) {\n    console.error('Erro:', error.message);\n    return {\n      success: false,\n      error: error.message\n    };\n  }\n};\n`;\n\nreturn [{\n  json: {\n    ...item,\n    playwrightScript,\n    browserlessToken\n  }\n}];"
      },
      "id": "prepare-browserless",
      "name": "Prepare Browserless Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chrome.browserless.io/function?token={{ $json.browserlessToken }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { code: $json.playwrightScript } }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "browserless-execute",
      "name": "Execute Browserless",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "// Processar resultado do Browserless\nconst browserResult = $json;\nconst originalData = $('Prepare Browserless Script').item.json;\n\nlet result;\n\nif (browserResult.success && browserResult.video_url) {\n  result = {\n    job_id: originalData.job_id,\n    status: 'completed',\n    video_url: browserResult.video_url,\n    duration: originalData.duration,\n    aspect_ratio: originalData.aspect_ratio,\n    completed_at: new Date().toISOString()\n  };\n} else {\n  result = {\n    job_id: originalData.job_id,\n    status: 'failed',\n    error_message: browserResult.error || 'Unknown error during video generation',\n    failed_at: new Date().toISOString()\n  };\n}\n\nreturn [{\n  json: {\n    ...result,\n    callback_url: originalData.callback_url\n  }\n}];"
      },
      "id": "process-result",
      "name": "Process Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  job_id: $json.job_id,\n  status: $json.status,\n  video_url: $json.video_url || null,\n  error_message: $json.error_message || null,\n  duration: $json.duration,\n  aspect_ratio: $json.aspect_ratio,\n  completed_at: $json.completed_at || $json.failed_at\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "callback-post",
      "name": "POST Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log final\nconst result = $json;\nconsole.log('=== VEO3 Generation Complete ===');\nconsole.log('Job ID:', $('Process Result').item.json.job_id);\nconsole.log('Status:', $('Process Result').item.json.status);\nconsole.log('Callback Response:', result.statusCode || 'OK');\nreturn [$input.item];"
      },
      "id": "log-complete",
      "name": "Log Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "errorMessage": "={{ 'Browserless execution failed: ' + $json.error }}"
      },
      "id": "handle-error",
      "name": "Handle Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [640, 520]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Inputs": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Respond 200 - Accepted",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Browserless Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Browserless Script": {
      "main": [
        [
          {
            "node": "Execute Browserless",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Browserless": {
      "main": [
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Result": {
      "main": [
        [
          {
            "node": "POST Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Callback": {
      "main": [
        [
          {
            "node": "Log Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
