docs/n8n-viral-detection-workflow.json
{
  "name": "🔥 Detecção de Vídeos Virais",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Gatilho de agendamento",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "notes": "Executa a cada 1 hora para verificar novos vídeos virais"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_api_settings?user_id=eq.{{ $env.TARGET_USER_ID }}&select=youtube_api_key",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-user-api-key",
      "name": "Buscar API Key do Usuário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300],
      "notes": "Busca a API key do YouTube das configurações do usuário no Supabase"
    },
    {
      "parameters": {
        "jsCode": "const settings = $input.first().json;\nconst apiKey = Array.isArray(settings) ? settings[0]?.youtube_api_key : settings?.youtube_api_key;\n\nif (!apiKey) {\n  throw new Error('API key do YouTube não encontrada. Configure em Configurações > APIs.');\n}\n\nconst niche = $env.SEARCH_NICHE || 'dark channel';\nconst publishedAfter = new Date();\npublishedAfter.setDate(publishedAfter.getDate() - 7);\n\nreturn [{\n  json: {\n    apiKey,\n    niche,\n    publishedAfter: publishedAfter.toISOString()\n  }\n}];"
      },
      "id": "prepare-search",
      "name": "Preparar Busca",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "notes": "Prepara os parâmetros de busca com a API key do usuário"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "={{ $json.niche }}"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "order",
              "value": "viewCount"
            },
            {
              "name": "publishedAfter",
              "value": "={{ $json.publishedAfter }}"
            },
            {
              "name": "maxResults",
              "value": "50"
            },
            {
              "name": "key",
              "value": "={{ $json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "youtube-search",
      "name": "Pesquisar vídeos do YouTube",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "notes": "Busca vídeos recentes por nicho usando API key do usuário"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.items || [];\nconst apiKey = $('Preparar Busca').first().json.apiKey;\nconst niche = $('Preparar Busca').first().json.niche;\n\nconst videos = items.map(item => ({\n  videoId: item.id.videoId,\n  title: item.snippet.title,\n  channelTitle: item.snippet.channelTitle,\n  channelId: item.snippet.channelId,\n  publishedAt: item.snippet.publishedAt,\n  thumbnailUrl: item.snippet.thumbnails?.high?.url || item.snippet.thumbnails?.default?.url,\n  niche\n}));\n\nreturn [{ json: { videos, apiKey } }];"
      },
      "id": "parse-videos",
      "name": "Analisar dados de vídeo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "notes": "Extrai dados dos vídeos encontrados"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "statistics"
            },
            {
              "name": "id",
              "value": "={{ $json.videos.map(v => v.videoId).join(',') }}"
            },
            {
              "name": "key",
              "value": "={{ $json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-statistics",
      "name": "Obtenha as estatísticas do vídeo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "notes": "Obtém estatísticas (views, likes, comentários) em batch"
    },
    {
      "parameters": {
        "jsCode": "const statsItems = $input.first().json.items || [];\nconst videos = $('Analisar dados de vídeo').first().json.videos;\nconst VIRAL_THRESHOLD = 1000; // views por hora\n\nconst statsMap = {};\nstatsItems.forEach(item => {\n  statsMap[item.id] = {\n    views: parseInt(item.statistics.viewCount || 0),\n    likes: parseInt(item.statistics.likeCount || 0),\n    comments: parseInt(item.statistics.commentCount || 0)\n  };\n});\n\nconst viralVideos = videos.map(video => {\n  const stats = statsMap[video.videoId] || { views: 0, likes: 0, comments: 0 };\n  const publishedAt = new Date(video.publishedAt);\n  const hoursSincePublished = (Date.now() - publishedAt.getTime()) / (1000 * 60 * 60);\n  const viralScore = Math.round(stats.views / Math.max(hoursSincePublished, 1));\n  \n  return {\n    ...video,\n    ...stats,\n    viralScore,\n    hoursSincePublished: Math.round(hoursSincePublished)\n  };\n}).filter(v => v.viralScore >= VIRAL_THRESHOLD);\n\nif (viralVideos.length === 0) {\n  return [{ json: { hasResults: false } }];\n}\n\nreturn [{ json: { videos: viralVideos, hasResults: true } }];"
      },
      "id": "calculate-viral-score",
      "name": "Calcular pontuação viral",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300],
      "notes": "Calcula score viral (views/hora) e filtra >= 1000"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.hasResults }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-results",
      "name": "Filtrar Resultados Vazios",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/viral-webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"videos\": {{ JSON.stringify($json.videos.map(v => ({\n    user_id: $env.TARGET_USER_ID,\n    video_id: v.videoId,\n    video_url: 'https://www.youtube.com/watch?v=' + v.videoId,\n    title: v.title,\n    thumbnail_url: v.thumbnailUrl,\n    channel_name: v.channelTitle,\n    channel_url: 'https://www.youtube.com/channel/' + v.channelId,\n    views: v.views,\n    likes: v.likes,\n    comments: v.comments,\n    published_at: v.publishedAt,\n    viral_score: v.viralScore,\n    niche: v.niche\n  }))) }}\n}",
        "options": {}
      },
      "id": "send-to-webhook",
      "name": "Enviar para Webhook Viral",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 200],
      "notes": "Envia vídeos virais para o sistema"
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "Sem vídeos virais",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1760, 400]
    }
  ],
  "connections": {
    "Gatilho de agendamento": {
      "main": [
        [
          {
            "node": "Buscar API Key do Usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar API Key do Usuário": {
      "main": [
        [
          {
            "node": "Preparar Busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Busca": {
      "main": [
        [
          {
            "node": "Pesquisar vídeos do YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pesquisar vídeos do YouTube": {
      "main": [
        [
          {
            "node": "Analisar dados de vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisar dados de vídeo": {
      "main": [
        [
          {
            "node": "Obtenha as estatísticas do vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtenha as estatísticas do vídeo": {
      "main": [
        [
          {
            "node": "Calcular pontuação viral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular pontuação viral": {
      "main": [
        [
          {
            "node": "Filtrar Resultados Vazios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Resultados Vazios": {
      "main": [
        [
          {
            "node": "Enviar para Webhook Viral",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem vídeos virais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["viral", "youtube", "monitoramento"],
  "triggerCount": 1,
  "meta": {
    "templateId": "viral-video-detection-v2"
  }
}
