docs/n8n-viral-detection-workflow.json
{
  "name": "🔥 Detecção de Vídeos Virais",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "notes": "Executa a cada 1 hora"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://kabnbvnephjifeazaiis.supabase.co/rest/v1/user_api_settings?user_id=eq.57d1e620-a5d4-4d2a-a063-2f0c59aac42d&select=youtube_api_key",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "COLE_SUA_SERVICE_ROLE_KEY_AQUI"
            },
            {
              "name": "Authorization",
              "value": "Bearer COLE_SUA_SERVICE_ROLE_KEY_AQUI"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-api-key",
      "name": "Fetch API Key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300],
      "notes": "⚠️ SUBSTITUA 'COLE_SUA_SERVICE_ROLE_KEY_AQUI' pela sua Service Role Key do Supabase"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst apiKey = Array.isArray(data) ? data[0]?.youtube_api_key : data?.youtube_api_key;\n\nif (!apiKey) {\n  throw new Error('YouTube API key não configurada. Vá em Configurações > APIs no app.');\n}\n\nconst niche = 'dark channel';\nconst publishedAfter = new Date();\npublishedAfter.setDate(publishedAfter.getDate() - 7);\n\nreturn [{\n  json: {\n    apiKey,\n    niche,\n    publishedAfter: publishedAfter.toISOString(),\n    searchUrl: `https://www.googleapis.com/youtube/v3/search?part=snippet&q=${encodeURIComponent(niche)}&type=video&order=viewCount&publishedAfter=${publishedAfter.toISOString()}&maxResults=50&key=${apiKey}`\n  }\n}];"
      },
      "id": "prepare-config",
      "name": "Prepare Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "notes": "Altere 'dark channel' para o nicho desejado"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.searchUrl }}",
        "options": {}
      },
      "id": "youtube-search",
      "name": "Search YouTube Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.items || [];\nconst config = $('Prepare Config').first().json;\n\nif (items.length === 0) {\n  return [{ json: { empty: true } }];\n}\n\nconst videos = items.map(item => ({\n  videoId: item.id.videoId,\n  title: item.snippet.title,\n  channelTitle: item.snippet.channelTitle,\n  channelId: item.snippet.channelId,\n  publishedAt: item.snippet.publishedAt,\n  thumbnailUrl: item.snippet.thumbnails?.high?.url || item.snippet.thumbnails?.default?.url,\n  niche: config.niche\n}));\n\nconst videoIds = videos.map(v => v.videoId).join(',');\nconst statsUrl = `https://www.googleapis.com/youtube/v3/videos?part=statistics&id=${videoIds}&key=${config.apiKey}`;\n\nreturn [{ json: { videos, statsUrl, apiKey: config.apiKey, empty: false } }];"
      },
      "id": "parse-videos",
      "name": "Parse Video Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-empty",
              "leftValue": "={{ $json.empty }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-videos",
      "name": "Has Videos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.statsUrl }}",
        "options": {}
      },
      "id": "get-statistics",
      "name": "Get Video Statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "jsCode": "const statsItems = $input.first().json.items || [];\nconst videosData = $('Parse Video Data').first().json.videos;\nconst VIRAL_THRESHOLD = 1000;\n\nconst statsMap = {};\nstatsItems.forEach(item => {\n  statsMap[item.id] = {\n    views: parseInt(item.statistics.viewCount || 0),\n    likes: parseInt(item.statistics.likeCount || 0),\n    comments: parseInt(item.statistics.commentCount || 0)\n  };\n});\n\nconst viralVideos = videosData.map(video => {\n  const stats = statsMap[video.videoId] || { views: 0, likes: 0, comments: 0 };\n  const publishedAt = new Date(video.publishedAt);\n  const hours = (Date.now() - publishedAt.getTime()) / (1000 * 60 * 60);\n  const viralScore = Math.round(stats.views / Math.max(hours, 1));\n  \n  return { ...video, ...stats, viralScore };\n}).filter(v => v.viralScore >= VIRAL_THRESHOLD);\n\nif (viralVideos.length === 0) {\n  return [{ json: { hasResults: false } }];\n}\n\nreturn [{ json: { videos: viralVideos, hasResults: true } }];"
      },
      "id": "calculate-score",
      "name": "Calculate Viral Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 200],
      "notes": "Threshold: 1000 views/hora = viral"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.hasResults }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-empty",
      "name": "Filter Empty Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kabnbvnephjifeazaiis.supabase.co/functions/v1/viral-webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer COLE_SUA_SERVICE_ROLE_KEY_AQUI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"videos\": {{ JSON.stringify($json.videos.map(v => ({\n    user_id: \"57d1e620-a5d4-4d2a-a063-2f0c59aac42d\",\n    video_id: v.videoId,\n    video_url: 'https://www.youtube.com/watch?v=' + v.videoId,\n    title: v.title,\n    thumbnail_url: v.thumbnailUrl,\n    channel_name: v.channelTitle,\n    channel_url: 'https://www.youtube.com/channel/' + v.channelId,\n    views: v.views,\n    likes: v.likes,\n    comments: v.comments,\n    published_at: v.publishedAt,\n    viral_score: v.viralScore,\n    niche: v.niche\n  }))) }}\n}",
        "options": {}
      },
      "id": "send-webhook",
      "name": "Send to Viral Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 100],
      "notes": "⚠️ SUBSTITUA 'COLE_SUA_SERVICE_ROLE_KEY_AQUI' pela sua Service Role Key"
    },
    {
      "parameters": {},
      "id": "no-viral",
      "name": "No Viral Videos",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1980, 300]
    },
    {
      "parameters": {},
      "id": "no-videos-found",
      "name": "No Videos Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1320, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Fetch API Key", "type": "main", "index": 0 }]]
    },
    "Fetch API Key": {
      "main": [[{ "node": "Prepare Config", "type": "main", "index": 0 }]]
    },
    "Prepare Config": {
      "main": [[{ "node": "Search YouTube Videos", "type": "main", "index": 0 }]]
    },
    "Search YouTube Videos": {
      "main": [[{ "node": "Parse Video Data", "type": "main", "index": 0 }]]
    },
    "Parse Video Data": {
      "main": [[{ "node": "Has Videos?", "type": "main", "index": 0 }]]
    },
    "Has Videos?": {
      "main": [
        [{ "node": "Get Video Statistics", "type": "main", "index": 0 }],
        [{ "node": "No Videos Found", "type": "main", "index": 0 }]
      ]
    },
    "Get Video Statistics": {
      "main": [[{ "node": "Calculate Viral Score", "type": "main", "index": 0 }]]
    },
    "Calculate Viral Score": {
      "main": [[{ "node": "Filter Empty Results", "type": "main", "index": 0 }]]
    },
    "Filter Empty Results": {
      "main": [
        [{ "node": "Send to Viral Webhook", "type": "main", "index": 0 }],
        [{ "node": "No Viral Videos", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["viral", "youtube"],
  "meta": { "templateId": "viral-detection-v4" }
}
